[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "==4.12.1"
certifi = "==2026.1.4"
forestmq = "==0.2.1"
h11 = "==0.16.0"
httpcore = "==1.0.9"
httpx = "==0.28.1"
idna = "==3.11"
mkdocs = "*"
mkdocs-material = "*"

[dev-packages]

[requires]
python_version = "3.13"
